@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    transition: background-color 0.5s ease;
}

.light {
    background-color: #F4F6FA;
    color: #313E51;
}

.dark {
    background-color: #313E51; 
    color: #FFFFFF;
}